🔗 Login URL: http://216.48.181.71/#login
Username: administrator
Password: admin
🛢️ MariaDB Root Password: root
⚠️ If you're not able to log in, you can use my credentials:
Username: chetan.a@evoluteiq.com
Password: chet@evoluteiq
👤 New users on the server:
Default password: admin
🖥️ Bench new site (lms.local):
Password: admin




username : ulhas@evoluteiq.com
pass : ulha@evoluteiq



akshay.bhat@evoluteiq.com
aksh@evoluteiq


shashank.d@evoluteiq.com
shan@evoluteiq


eiqstudent@evoluteiq.com
eiq@123
